@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  margin: 4px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

* {
  box-sizing: border-box;
}
.modal {
  display: none;
  position: fixed;
  z-index: 8;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  margin: 50px auto;
  border: 1px solid #999;
  width: 60%;
}
h2,
p {
  margin: 0 0 20px;
  font-weight: 400;
  color: #999;
}
span {
  color: #666;
  display: block;
  padding: 0 0 5px;
}
form {
  padding: 25px;
  margin: 25px;
  box-shadow: 0 2px 5px #f5f5f5;
  background: #eee;
}
input,
textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #1c87c9;
  outline: none;
}
.contact-form button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #1c87c9;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
button:hover {
  background: #2371a0;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
button.button {
  background: none;
  border-top: none;
  outline: none;
  border-right: none;
  border-left: none;
  border-bottom: #02274a 1px solid;
  padding: 0 0 3px 0;
  font-size: 16px;
  cursor: pointer;
}
button.button:hover {
  border-bottom: #a99567 1px solid;
  color: #a99567;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #04AA6D;
}
code {
  font-family: monospace;
  font-size: 1rem;
  background-color: rgb(219, 219, 219);
  padding: 2px;
}

#api-status {
  margin-top: 100px;
  font-family: monospace;
  text-align: center;
  font-size: 1rem;
  background-color: rgb(219, 219, 219);
  padding: 10px;
}
